 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 374.98px) {
    h1{
        color: rgb(200, 255, 0);
    }

}



@media (min-width: 375px) and (max-width: 575.98px) {
    h1{
        color: rgb(22, 247, 255);
    }

}


 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        color: rgb(250, 16, 199);
    }


}


 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        color: rgb(162, 0, 255);
    }


}


 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        color: rgb(0, 4, 255);
    }


}


 /*Extra Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    h1{
        color: rgb(30, 255, 0);
    }


}




 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    h1{
        color: red;
    }


}